body {
    background-color: #ffd1dc; 
    color: #4caf50; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin: 0;
    padding: 0;
}